services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: simple_lms_web
    env_file:
      - .env
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    command: >
      bash -c "
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "

  redis:
    image: redis:7
    container_name: simple_lms_redis
    ports:
      - "6379:6379"
